:root{
    --font-style: 'Nunito Sans', sans-serif;
}
body{
    font-family: var(--font-style);
    background-color: #1c6758;
}
.container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    width: 443px;
    height: 440px;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    background: #151515;
    box-shadow: 10px 15px 10px #3D8361;
    border-radius: 35px;
}
h1{
    color: #D6CDA4;
    margin: auto;
}
input{
    width: 75%;
    margin: auto;
    background-color: #EEF2E6;
    padding: 2%;
    border-radius: 25px;
    border: 0;
}
input::placeholder{
    color: #333030;
}
button{
    width: 20%;
    padding: 1%;
    border-radius: 25px;
    color: white;
    background-color: #B72C2C;
    border: 0;
    margin: auto;
    cursor: pointer;
}
div{
    font-family: var(--font-style);
    color: #D6CDA4;
}
.new{
    font-family: var(--font-style);
    width: 75%;
    height: 20%;
    margin: auto;
    font-size: 50%;
    font-style: italic;
}
.new::h1{
    
}
